{% if class is not defined %}
    {% set class = 'float-right' %}
{% endif %}
{% set modalId = random() %}
<div class="modal fade" id="delete-confirmation-{{ modalId }}" tabindex="-1" role="dialog" aria-labelledby="{{ title | trans }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ title | trans }}</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p>{{ confirmation | trans }}</p>
            </div>
            <div class="modal-footer">
                <a href="{{ path }}" class="btn btn-primary" type="button">{{ 'zentlix_main.delete' | trans }}</a>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">{{ 'zentlix_main.cancel' | trans }}</button>
            </div>
        </div>
    </div>
</div>
<a href="#" class="btn btn-danger btn-sm {{ class }}" data-toggle="modal" data-target="#delete-confirmation-{{ modalId }}">
    {{ title | trans }}
</a>