<div class="accordion" id="attribute-items" role="tablist">
    {% for attribute in attributes %}
        <div class="card mb-0">
            <div class="card-header" id="heading-{{ attribute.id }}">
                <div class="menu-title">
                    <a data-toggle="collapse" href="#attribute-{{ attribute.id }}" aria-expanded="true" aria-controls="attribute-{{ attribute.id }}" role="button" class="accordion-toggle">
                        <i class="c-icon c-icon-2xl cil-chevron-bottom float-right"></i>
                        {{ attribute.title | trans }}
                    </a>
                </div>
            </div>
            <div class="collapse " id="attribute-{{ attribute.id }}" aria-labelledby="heading-{{ attribute.id }}" data-parent="#attribute-items">
                <div class="p-3">
                    {% autoescape %}
                        {{ types.getByCode(attribute.attributeType).updateForm(attribute) | raw }}
                    {% endautoescape %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>