{% use "bootstrap_4_layout.html.twig" %}

{% block form_widget_simple %}
    {%- if (prepend is defined and prepend is not empty) or (append is defined and append is not empty) -%}
        <div class="input-group{{ group_class|default('') }}">
            {%- if prepend is defined and prepend is not empty -%}
                <div class="input-group-prepend">
                    <span class="input-group-text">{{ prepend }}</span>
                </div>
            {%- endif -%}
            {{- parent() -}}
            {%- if append is defined and append is not empty -%}
                <div class="input-group-append">
                    <span class="input-group-text">{{ append }}</span>
                </div>
            {%- endif -%}
        </div>
    {%- else -%}
        {{- parent() -}}
    {%- endif -%}
{% endblock %}