<div class="modal fade" id="install-bundle-process" tabindex="-1" role="dialog" aria-labelledby="{{ 'zentlix_main.bundle.install.process' | trans }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'zentlix_main.bundle.install.process' | trans }}</h4>
            </div>
            <div class="modal-body" id="delete-bundle-content">
                <ul class="list-group">
                    <li class="list-group-item process-install">
                        {{ 'zentlix_main.bundle.install.process' | trans }}
                        {% include '@MainBundle/admin/partials/sk_circle.html.twig' %}
                    </li>
                    <li class="list-group-item process-migrations d-none">
                        {{ 'zentlix_main.bundle.apply_migrations' | trans }}
                        {% include '@MainBundle/admin/partials/sk_circle.html.twig' %}
                    </li>
                    <li class="list-group-item process-app-data d-none">
                        {{ 'zentlix_main.bundle.install.data' | trans }}
                        {% include '@MainBundle/admin/partials/sk_circle.html.twig' %}
                    </li>
                    <li class="list-group-item process-finished list-group-item-success d-none">
                        {{ 'zentlix_main.bundle.install.success' | trans }}
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary bundle-modal-close" type="button" data-dismiss="modal" disabled="disabled">{{ 'zentlix_main.close' | trans }}</button>
            </div>
        </div>
    </div>
</div>